/* Reset default margin and padding */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set a background color for the body */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style the map container */
#map {
  height: 500px;
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style pop-up content */
.leaflet-popup-content-wrapper {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
}

.leaflet-popup-content b {
  font-weight: bold;
}

.leaflet-popup-content p {
  margin: 5px 0;
}
